/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fallback background color */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    background: rgba(247, 244, 244, 0.9); /* Darker background for better contrast */
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffcc00;
    text-shadow: 2px 2px 4px #f4efef;
}

#charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#charts img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
